<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body style="background-color: rgb(202, 208, 210);" class="body-container">

    <nav class="nav-header">
        <a href="/"> <img src="/svg/main-svg(books).svg" height="80px" width="80px" alt="books-svg" style="margin-right: 20px;"></a>
        <h1>Books & Notes</h1>  
    </nav>
    <main >
    <div class="container">
        <div>
        <header>
            <h1>Welcome to Book and Notes</h1>
            <h2>My Books and Notes</h2> 
            <p>
                Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.
            </p>
      

        <p>
            Sorted with my top recommendations up top. Sort by 
            <a href="/title">title</a>,
            <a href="/latest">newest</a>, or 
            <a href="/highest">best</a>.
        </p>
        </header>
        
        </div>
       
        <section class="books" >
        <a id="newAddBtn" href="/new">Add a Book</a>
        <ul class="book-container" >
            <% book_notes.forEach(book => { %>
            <li class="book-gap">
                <figure class="float-left">
                    <a href="#"><img src="<%= 'https://covers.openlibrary.org/b/isbn/'+book.isbn+'.jpg' %>" alt="book-cover" loading="eager" height="200" width="135"></a>
                </figure>
           
                
                    <h2><a href="/views/<%= book.id %>"> <%= book.book_title %></a> - BY <%= book.book_author %> </h2>
                    <p>ISBN Id: <%= book.isbn %></p>
                    <p><strong>Date Read:</strong> <%= book.date %> <strong>How strong i recommend:</strong> <%= book.rating %></p>
                    <p><%= book.summary %></p>

                    <a class="edit" href="/edit/<%= book.id %>"> <img src="/svg/icons8-edit.svg" height="70px" alt="edit-svg"> </a>
                    <a class="delete" href="/api/books/delete/<%= book.id %>"> <img src="/svg/icons8-delete-button.svg" height="70px" alt="delete-svg"> </a>
                    
                
            </li>
            <% }); %>
        </ul>

        </section> 
    </div>
    </main>


</body>
</html>
